/*Modification to bootstrap calss to amke Image height similar*/
.thumbnail > img,
.thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 300px;
}

body {
    padding-top: 70px;
}

.jumbotron {
    color: #2c3e50;
    background: #ecf0f1;
}

.navbar-inverse {
    background: #2c3e50;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand{
    color: white;
}