body {
    padding-top: 70px;
    background-image: url("../images/dog-human.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    color: white;
}

html{
    height: 100%;
}

.main-grp{
    text-align: center;
    padding-top:25% ;
    color: white;
    text-transform: capitalize;
    text-shadow: 0px 4px 3px black,
                0px 8px 13px blue,
                0px 18px 23px black;
}

h1{
    font-weight: 700;
    font-size: 5em;
}

hr{
    width: 400px;
    /*To create a shadow for hr*/
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}